*{
    padding: 0;
    margin:0;
}
nav{
    background-color:#3e009a75;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    display: inline;
    margin: 15px;
    font-size: 1.5rem;
}
nav a{
    text-decoration: none;
    color:black;
}
.main{
    background-color: #5c389275;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    background-color: bisque;
    height: 30vh;
    width:30%;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.table_initial{
    margin-top: 50px;
}
#userInput{
    border: none;
    height: 2.5em;
    width: 250px;
}
#generate{
    border: none;
    height: 2rem;
    width:120px;
    border-radius: 8px;
    background-color: rgba(13, 131, 23, 0.372);
    font-size: 0.9rem;
    margin-left: 10px;
}
#generate:hover{
    border:dashed;
    background-color: #6600ff75;
    transform: scale(1.1);
    font-size: 0.9rem;
}
#output{
    background-color: bisque;
    width:85%;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 70px;
    padding-bottom: 20px;
}